<ion-view view-title="Approved Leaves" name="editevent" class="touch-effect">
    <div class="row padding-0">
        <div class="tabs-striped tabs-color-positive tabs-top">
            <div class="tabs tab-align-inner">
                <a class="tab-item margin-top-0">
                    <i class="icon ion-android-menu slide-button" ng-click="toggleLeftSideMenu()"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.notification">
                    <i class="icon ion-notify"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.dashboard">
                    <i class="icon ion-homie"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.message">
                    <i class="icon ion-message"><span class="badge badge-assertive"></span></i>
                </a>
            </div>
        </div>
    </div>
    <div class="bar bar-orange bar-header align-delete-bar">
        <iion-item class="row">
            <div class="row">
                <div class="col-10"  ng-click="myGoBack()">
                    <button class="button-clear">
                        <i class="ion-arrow-left-c button-back-white"></i>
                    </button>
                </div>
                <div class="col-90 margin-top-5">
                    <span class="inner-header">Leave's Approved</span>
                </div>
            </div>
        </iion-item>
    </div>
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="padding-l-r-5 margin-top-48">
        <ion-list>
            <ion-item class="notify-item-border no-border margin-bottom-10" ng-repeat="leave in leaveListing">
                <div class="row" ng-if="userRole == 'teacher'">
                    <div ng-click="leaveDetails(leave)">
                        <a class="text-decoration-none">
                            <h2><strong>{{leave.name}}</strong><br><i class="font-italic">{{leave.batch}} {{leave.class}} {{leave.division}}</i></h2><br>
                            <p>{{leave.title}}<br><strong><i class="font-italic"> {{leave.leave_type}}, {{leave.applied_on}}</i></strong></p>
                        </a>
                    </div>
                </div>
                <div class="row" ng-click="leaveDetails(leave)" ng-if="userRole == 'parent'">
                    <a class="text-decoration-none">
                        <h2><strong>{{leave.title}}</strong></h2>
                        <p>{{leave.reason}}<br><strong><i class="font-italic"> {{leave.leave_type}}, {{leave.applied_on}}</i></strong></p>
                    </a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>