<ion-view view-title="Event" name="event" class="touch-effect">
    <div class="row padding-0">
        <div class="tabs-striped tabs-color-positive tabs-top">
            <div class="tabs tab-align-inner">
                <a class="tab-item margin-top-0">
                    <i class="icon ion-android-menu slide-button" ng-click="toggleLeftSideMenu()"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.notification">
                    <i class="icon ion-notify"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.dashboard">
                    <i class="icon ion-homie"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.message">
                    <i class="icon ion-message"><span class="badge badge-assertive"></span></i>
                </a>
            </div>
        </div>
    </div>

    <div class="bar bar-event bar-header align-delete-bar">
        <iion-item class="row">
            <div class="row">
                <div class="col col-10">
                    <button class="button-clear" ng-click="myGoBack()">
                        <i class="ion-arrow-left-c button-back-white"></i>
                    </button>
                </div>
                <div class="col col-50 margin-top-5">
                    <span class="inner-header">Events</span>
                </div>
                <div class="col">
                     <!--<lable class="lable-font-size">Select Year : </label>-->
                     <select class="eventYear" id="eventYear" ng-model="selectedYear" ng-options="yearMonth.year as yearMonth.year for yearMonth in yearMonthData" ng-change="setMonth(selectedYear)">
                          <option value="">Select Year</option>
                     </select>
                </div>
            </div>
        </iion-item>
    </div>

    <ion-content ng-class="{expanded:$scope.isExpanded}" class="margin-top-40">
        <div class="row">
            <div class="col col-80">
              <ion-scroll style="height: 450px" direction="y" >
                <ion-list>
                  <ion-item class="notify-item-border" ng-repeat="event in eventList">
                    <a class="item" ng-click="getDetailsOfEvent(event.id)">
                      <h2><strong>{{event.title}}</strong></h2>
                      <span class="eventHeaderFontSize"><strong>On </strong> {{event.start_date}}</span>
                      <span class="pull-right" ng-if="event.status == 'Published'">
                        <button  class="button button-balanced status-button" ng-disabled="clickStatus" >
                              {{event.status}}
                        </button>
                      </span>

                      <span class="pull-right" ng-if="event.status == 'Pending'">
                        <button  class="button button-assertive status-button" ng-disabled="clickStatus" >
                              {{event.status}}
                        </button>
                      </span>

                      <span class="pull-right" ng-if="event.status == 'Draft'">
                        <button  class="button button-energized status-button" ng-disabled="clickStatus" >
                              {{event.status}}
                        </button>
                      </span>
                    </a>
                 </ion-item>
                </ion-list>
              </ion-scroll>
            </div>
            <div class="col col-20 pull-right">
                <div class="row">
                    <button  class="button button-royal recent-button" ng-disabled="clickStatus" ng-click="recentEvent()">
                            Recent
                    </button>
                </div>

                <div class="row margin-top-2" ng-repeat="(key, value) in monthList">
                    <button  class="button button-positive month-button" ng-disabled="clickStatus" ng-click="eventByMonth({{key}})">
                        {{value}}
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
