<div class="row padding-0">
    <div class="tabs-striped tabs-color-positive tabs-top">
        <div class="tabs tab-align-inner">
            <a class="tab-item margin-top-0">
                <i class="icon ion-android-menu slide-button" ng-click="toggleLeftSideMenu()"></i>
            </a>
            <a class="tab-item margin-top-10" ui-sref="app.notification">
                <i class="icon ion-notify"></i>
            </a>
            <a class="tab-item margin-top-10" ui-sref="app.dashboard">
                <i class="icon ion-homie"></i>
            </a>
            <a class="tab-item margin-top-10" ui-sref="app.message">
                <i class="icon ion-message"><span class="badge badge-assertive"></span></i>
            </a>
        </div>
    </div>
</div>
  <div class="bar bar-subheader bar-assertive" >
    <div class="col-10"  ng-click="myGoBack()" style="padding-top:2%">
        <button class="button-clear">
            <i class="ion-arrow-left-c button-back-white"></i>
        </button>
        <h1 class="title">{{folderName}}</h1>
    </div>
  </div>
  <ion-content style="margin-top:15%; padding:0% 1% 0% 1%" >
    <div ng-if= "imagesLength > 0">
      <b>PHOTOS:</b>
    <div  class="row " ng-repeat="image in images" ng-if="$index % 3 === 0" >
        <div class="col col-33" ng-if="$index < images.length">
            <img ng-src="{{baseImageURL}}{{images[$index].url}}" width="100%"  height="100px !important" ng-click="showImages({{$index}})"/>
        </div>
        <div class="col col-33" ng-if="$index + 1 < images.length">
          <img ng-src="{{baseImageURL}}{{images[$index+1].url}}" width="100%" height="100px !important" ng-click="showImages({{$index+1}})"/>
        </div>
        <div class="col col-33" ng-if="$index + 2 < images.length">
            <img ng-src="{{baseImageURL}}{{images[$index+2].url}}" width="100%" height="100px !important" ng-click="showImages({{$index+2}})"/>
        </div>
    </div>
    </div>
    <div ng-if ="videoLength > 0">
      <b>VIDEO:</b>
      <div class="row">
        <div  class="col col-33" ng-repeat="video in video" >
          <!-- <img width="100%" height="100%" ng-src="{{baseImageURL}}{{video.thumbnail}}" ng-click="playVideo()" /> -->
          <img width="100%" height="100%" ng-src="img/PlayButton.svg" ng-click="playVideo()"
        </div>
      </div>
    </div>

</ion-content>
