<ion-view view-title="Notification" name="notify" class="touch-effect">
<div class="row padding-0">
        <div class="tabs-striped tabs-color-positive tabs-top">
            <div class="tabs tab-align-inner">
                <a class="tab-item margin-top-0">
                    <i class="icon ion-android-menu slide-button" ng-click="toggleLeftSideMenu()"></i>
                </a>
                <a class="tab-item margin-top-10 active" ui-sref="app.notification">
                    <i class="icon ion-notify-select"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.dashboard">
                    <i class="icon ion-homie"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.message">
                    <i class="icon ion-message"><span class="badge badge-assertive"></span></i>
                </a>
            </div>
    	</div>
    </div>
    <div class="bar bar-cool bar-header ">
    		<iion-item class="row margin-top-5">
                        <span class="inner-header">Notification</span>
    		</iion-item>
    </div>
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="margin-top-48 padding-l-r-5">
    	<ion-list>
    		<ion-item class="notify-item-border" ng-repeat="nMsg in nMessages" ngclick="notifyDetail()">
    			<div class="row">
                    <div class="col-25">
                        <div><img class="auto-notify-type" src="img/{{nMsg.Type}}.png"></div>
                    </div>
    				<div class="col-75">
  							<p class="white-space"><strong>{{nMsg.Subject}}</strong>{{nMsg.Message}}<br><i class="font-italic sky-blue-font">{{nMsg.Timestamp}}</i></p>
  					</div>
    			</div>
    		</ion-item>
    	</ion-list>
    </ion-content>
</ion-view>
